{
  default_bind "{$PUBLIC_IP}"
  log default {
    output file /tmp/caddy {
        roll_disabled
        roll_uncompressed
        roll_local_time
    }
  }
}

http://ingress.localdomain:8200 {
  reverse_proxy http://vault:8200
}

http://ingress.localdomain:4646 {
  reverse_proxy http://nomad:4646
}

https://koti.sammalmaa.fi {
  reverse_proxy http://nomad:80
}