{
  default_bind "{$PUBLIC_IP}"

  servers {
    protocols h1 h2 h3 h2c
  }
}

https://koti.sammalmaa.fi {
  reverse_proxy http://nomad.verstas.xyz:80
}

http://*.svc.verstas.xyz:80 {
  reverse_proxy http://nomad.verstas.xyz:8000
}

https://*.svc.verstas.xyz {
  reverse_proxy http://nomad.verstas.xyz:8000
  tls internal
}

http://otel.svc.verstas.xyz:4317 {
  reverse_proxy h2c://nomad.verstas.xyz:4317
}
